*{
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    color: #666;
    background: #f2f2f2; 
    font-size: 1em;
    line-height: 1.5em;
    padding-top: 10px;
}

h1 {
    font-size: 2.3em;
line-height: 1.3em;
    margin: 15px 0;
    text-align: center;
    font-weight: 300;
}

p {
    margin: 0 0 1.5em 0;
}

img {
    max-width: 100%;
    height: auto;
}

        /*
        * Imágen degradada
        */
        #fondo {
            background-image: url(imágenes/CENSO.jpg);
            position: absolute;
            z-index: 0;
            padding: 75px 50%;
            text-align: center;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        #fondo:before {
            content:'';
            position: absolute;
            z-index: 1;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(0, 0, 0, 0.456);
        }

    /************ 
    //-------------------------------
    // CABECERA
    //-------------------------------
    ************/
    #main-header {
        background: rgb(216, 235, 223);
        color: rgb(13, 12, 12);
        height: 150px;
        width: 100%;
        left: 0;
        top: 0;
        position: fixed;
    }	
        #main-header a {
            color: rgb(249, 249, 249);
        }
        
        
        /*
        * Logo
        */
        #logo-header {
            float: left;
            padding: 60px 0 0 10px;
            text-decoration: none;
            position: absolute;
            z-index: 2;
        }
            #logo-header:hover {
                color: #0b76a6;
            }
            
            #logo-header .Titulo {
                font-size: 60px;
                color: #fff;
                left: 50px;
                top: 10;
            }
            

        /*
        * Navegación
        */
        nav {
            position: absolute;
            z-index: 2;
            right: 0;
            top: 40px;
        }
            nav ul {
                margin: 0;
                padding: 0;
                list-style: none;
                padding-right: 10px;
            }
            
                nav ul li {
                    display: inline-block;
                    line-height: 60px;
                }
                    
                    nav ul li a {
                        display: block;
                        padding: 0 5px;
                        text-decoration: none;
                    }
                    
                        nav ul li a:hover {
                            background: #0b76a6;
                        }
        

    /************ 
    //------------------------------
    // CONTENIDO
    //------------------------------
    ************/
    #main-content {
        background: white;
        width: 90%;
        max-width: 1400px;
        margin: 150px auto;
        box-shadow: 0 0 10px rgba(208, 253, 245, 0.872);
    }
       
        /*
        * Info - Texto
        */
        #main-content header,
        #main-content .content {
            padding: 40px;
        }
        

        /*
            * Slider Automático
            */
            .slider-frame {
                width: 90%;
                max-width: 800px;
                height: auto;
                margin:20px auto 0;
                overflow: hidden;
            }
            
            .slider-frame ul {
                display: flex;
                padding: 0;
                width: 300%;
                animation: slide 20s infinite alternate ease-in-out;
            }
            
            .slider-frame li {
                width: 100%;
                list-style: none;
            }
            
            .slider-frame img {
                width: 100%;
            }
            
            @keyframes slide {
                0% {margin-left: 0;}
                20% {margin-left: 0;}
                
                25% {margin-left: -100%;}
                45% {margin-left: -100%;}
                
                50% {margin-left: -200%;}
                70% {margin-left: -200%;}
            }


            /*
            * Slider Automático 2
            */
            .slider-frame2 {
                width: 90%;
                max-width: 800px;
                height: auto;
                margin:20px auto 0;
                overflow: hidden;
            }
            
            .slider-frame2 ul {
                display: flex;
                padding: 0;
                width: 400%;
                animation: slide 20s infinite alternate ease-in-out;
            }
            
            .slider-frame2 li {
                width: 100%;
                list-style: none;
            }
            
            .slider-frame2 img {
                width: 100%;
            }
            
            @keyframes slide {
                0% {margin-left: 0;}
                20% {margin-left: 0;}
                
                25% {margin-left: -100%;}
                45% {margin-left: -100%;}
                
                50% {margin-left: -200%;}
                70% {margin-left: -200%;}

                75% {margin-left: -300%;}
                100% {margin-left: -300%;}
            }


             /*
            * Slider Automático 3
            */
            .slider-frame3 {
                width: 90%;
                max-width: 800px;
                height: auto;
                margin:20px auto 0;
                overflow: hidden;
            }
            
            .slider-frame3 ul {
                display: flex;
                padding: 0;
                width: 400%;
                animation: slide 20s infinite alternate ease-in-out;
            }
            
            .slider-frame3 li {
                width: 100%;
                list-style: none;
            }
            
            .slider-frame3 img {
                width: 100%;
            }
            
            @keyframes slide {
                0% {margin-left: 0;}
                20% {margin-left: 0;}
                
                25% {margin-left: -100%;}
                45% {margin-left: -100%;}
                
                50% {margin-left: -200%;}
                70% {margin-left: -200%;}

                75% {margin-left: -300%;}
                100% {margin-left: -300%;}
            }
       

    /************
    //-----------------------------
    // PIE PÁGINA
    //-----------------------------
    ************/
    #main-footer {
        background: #333;
        color: white;
        text-align: center;
        padding: 20px;
        margin-top: 40px;
    }
        #main-footer p {
            margin: 0;
        }
        
        #main-footer a {
            color: white;
        }

