*{
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    color: #666;
    background: #f2f2f2; 
    font-size: 1em;
    line-height: 1.5em;
    padding-top: 10px;
}

h1 {
    font-size: 2.3em;
line-height: 1.3em;
    margin: 15px 0;
    text-align: center;
    font-weight: 300;
}

p {
    margin: 0 0 1.5em 0;
}

img {
    max-width: 100%;
    height: auto;
}

        /*
        * Imágen degradada
        */
        #fondo {
            background-image: url(imágenes/FONDO.jpg);
            position: absolute;
            z-index: 0;
            padding: 200px 50%;
            background-size: cover;
            background-repeat: no-repeat;
            text-align: center;
        }
        #fondo:before {
            content:'';
            position: absolute;
            z-index: 1;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(0, 0, 0, 0.456);
        }
        #fondo .Titulo {
            font-size: 60px;
            color: #fff;
            left: 50px;
            top: 10;
            position: absolute;
            z-index: 1;
        }

    /************ 
    //-------------------------------
    // CABECERA
    //-------------------------------
    ************/
    #main-header {
        background: rgb(216, 235, 223);
        color: rgb(13, 12, 12);
        height: 55px;
        width: 100%;
        left: 0;
        top: 0;
        position: fixed;
        z-index: 1;
    }	
        #main-header a {
            color: rgb(0, 0, 0);
        }
        
        
        /*
        * Logo
        */
        #logo-header {
            float: left;
            padding: 10px 0 0 10px;
            text-decoration: none;
            position: absolute;
            z-index: 2;
        }
            #logo-header:hover {
                color: #0b76a6;
            }
            
            #logo-header .Titulo {
                font-size: 30px;
                color: #fff;
                left: 50px;
                top: 10;
            }
            

        /*
        * Navegación
        */
        nav {
            position: absolute;
            z-index: 2;
            right: 0;
            top: 0px;
        }
            nav ul {
                margin: 0;
                padding: 0;
                list-style: none;
                padding-right: 10px;
            }
            
                nav ul li {
                    display: inline-block;
                    line-height: 60px;
                }
                    
                    nav ul li a {
                        display: block;
                        padding: 0 5px;
                        text-decoration: none;
                    }
                    
                        nav ul li a:hover {
                            background: #0b76a6;
                        }
        

    /************ 
    //------------------------------
    // CONTENIDO
    //------------------------------
    ************/
    #main-content {
        background: white;
        width: 90%;
        max-width: 1400px;
        margin: 425px auto;
        box-shadow: 0 0 10px rgba(197, 249, 239, 0.872);
    }
       
        /*
        * Info - Texto
        */
        #main-content header,
        #main-content .content {
            padding: 40px;
        }
        
       

    /************
    //-----------------------------
    // PIE PÁGINA
    //-----------------------------
    ************/
    #main-footer {
        background: #333;
        color: white;
        text-align: center;
        padding: 20px;
        margin-top: 40px;
    }
        #main-footer p {
            margin: 0;
        }
        
        #main-footer a {
            color: white;
        }
